C:/Users/DimSot1/Documents/University/BSc_THESIS/ClothAId_AI_Cloth_Recognition_and_Description_System_for_Visually_Impaired_BSc_Thesis/AI_infrastructure/Saved_Models/EffNet_Fashion/EffNet_Fashion_3/general/final/efficientnet_best_weights.weights.h5 filter=lfs diff=lfs merge=lfs -text
C:/Users/DimSot1/Documents/University/BSc_THESIS/ClothAId_AI_Cloth_Recognition_and_Description_System_for_Visually_Impaired_BSc_Thesis/AI_infrastructure/Saved_Models/EffNet_Fashion/EffNet_Fashion_3/general/final/efficientnet_final_weights.weights.h5 filter=lfs diff=lfs merge=lfs -text
C:/Users/DimSot1/Documents/University/BSc_THESIS/ClothAId_AI_Cloth_Recognition_and_Description_System_for_Visually_Impaired_BSc_Thesis/AI_infrastructure/Saved_Models/EffNet_Fashion/EffNet_Fashion_3/fine_tuned/final/efficientnet_best_weights.weights.h5 filter=lfs diff=lfs merge=lfs -text
C:/Users/DimSot1/Documents/University/BSc_THESIS/ClothAId_AI_Cloth_Recognition_and_Description_System_for_Visually_Impaired_BSc_Thesis/AI_infrastructure/Saved_Models/EffNet_Fashion/EffNet_Fashion_3/fine_tuned/final/efficientnet_final_weights.weights.h5 filter=lfs diff=lfs merge=lfs -text
C:/Users/DimSot1/Documents/University/BSc_THESIS/ClothAId_AI_Cloth_Recognition_and_Description_System_for_Visually_Impaired_BSc_Thesis/AI_infrastructure/Saved_Models/Fashion_Net_articleType/EffNet_artTypeB1/final/efficientnetB1_artType_best_weights.weights.h5 filter=lfs diff=lfs merge=lfs -text
C:/Users/DimSot1/Documents/University/BSc_THESIS/ClothAId_AI_Cloth_Recognition_and_Description_System_for_Visually_Impaired_BSc_Thesis/AI_infrastructure/Saved_Models/Fashion_Net_articleType/EffNet_artTypeB1/final/efficientnetB1_artType_final_weights.weights.h5 filter=lfs diff=lfs merge=lfs -text
AI_infrastructure/Saved_Models/*.json filter=lfs diff=lfs merge=lfs -text
AI_infrastructure/Saved_Models/*.npy filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
